<head>
  <title>Readaholic</title>
</head>
<body>
</body>
<template name="post">
     <div class="event">
		    <div class="label">
		      <img src="/jenny.jpg">
		    </div>
		    <div class="content">
			    <div class="summary">
			        <a class="user">
			            {{username}}
			        </a> posted on his timeline
			        <div class="date">
			           {{createdAt}}
			        </div>
			    </div>
			    <div class="extra text">
			       {{text}}
		    	</div>		
			    <div class="actions">
			        <a class="like ">
			            <i class="js-like like icon {{#if likedByUser}}liked{{/if}}"></i> {{likes}} Likes
			        </a>
			        <a class="reply">
			            <i class="js-reply reply icon "></i> Reply
			        </a>
			        <a class="js-show-comments comment">
			        	<i class=" comments icon"></i> Comments
			        </a>
			    </div>
			    <div class="hidden comments">
			    	<div class="ui minimal comments">
			    		<h3 class="ui dividing header">Comments</h3>
			    	{{#each comments}}
			    		{{> comment}}
			    	{{/each}}
			    	</div>
			    	<form class="js-reply-form ui reply form">
						<div class="field">
						    <textarea></textarea>
						</div>
						<div>
							<button type="submit" class="ui right labeled icon button">
  								Submit
  								<i class="icon edit"></i>
							</button>
						</div>
					</form>
				</div>
		    </div>
	  	</div>
</template>
<template name="comment"> 
						  <div class=" comment">
						    <a class="avatar">
						      <img src="/jenny.jpg">
						    </a>
						    <div class="content">
						      <a class="author" href="/register/{{findUrl by}}">{{findName by}}</a>
						      <div class="metadata">
						        <span class="date">Today at 5:42PM</span>
						      </div>
						      <div class="text">
						       {{text}}
						      </div>
						      <div class="actions">
						        <a class="reply">Reply</a>
						      </div>
						    </div>
						  </div>
</template>

<template name="home">
	<div class="ui visible sidebar labeled icon vertical menu">
	    <a class="item">
	      <i class="home icon"></i>
	    	Home
	    </a>
	    <a class="item">
	      <i class="block layout icon"></i>
	    	Explore
	    </a>
	    <a class="item">
	      <i class="smile icon"></i>
	    	Friends
	    </a>
  	</div>
  	<div class="ui fixed top small menu">
	  	<div class="ui container">
			<div class="ui category search item">
			    <div class="ui transparent icon input">
			      <input class="prompt" placeholder="Search" type="text">
			      <i class="search link icon"></i>
			    </div>
			    <div class="results"></div>
			</div>
			<div class="right menu">
			  	<a class="item">
			  		<i class="Announcement icon"></i>
						Notifications
				</a>
				<a class="item">
					<i class="Mail icon"></i>
					Messages
				</a>
				<a class="item">
					{{> loginButtons}}
				</a>
			</div>
		</div>
  	</div>
  	<div class="pusher" style="padding-top: 70px;">
  		<div class="ui two column grid container">
  			<div class="twelve wide column" style=" padding-right: 50px; padding-left: 50px;">
  				<form class="ui form new-post">
  					{{#if currentUser}}
						<div class="field">
			        		<textarea name="text" placeholder="What's going on in your mind" rows="2"></textarea>
						</div>
						<button type="submit" class="ui button">Post</button>
			  		{{/if}}
				</form>
				<div class="ui feed">
					{{#each posts}}
						<div class="ui segment">
							{{> post}}
						</div>
					{{/each}}
				</div>
  			</div>
  			<div class="four wide column">
				<div class="ui people shape">
			  		<div class="sides">
			    		<div class="active side">
			      			<div class="ui card">
			        			<div class="image">
			          				<img src="selena.jpg">
			        			</div>
			        			<div class="content">	
			          				<div class="header"><a href="register/danish">Krishna Singh</a></div>
			          					<div class="meta">
			            					<a>Acquaintances</a>
			          					</div>
			          					<div class="description">
			            					Krishna Singh is a super cool girl who wants to change the way people read.
			          					</div>
			        				</div>
			        				<div class="extra content">
			          					<span class="right floated">
			            					Joined in 2016
			          					</span>
			          					<span>
			            					<i class="user icon"></i>
			            					151000 Friends
			          					</span>
			        				</div>
			      				</div>
			    			</div>
			    			<div class="side">
			      				<div class="ui card">
			        				<div class="image">
			          					<img src="anku.jpg">
			        				</div>
			        				<div class="content">
			          					<a class="header">Stevie Feliciano</a>
			          					<div class="meta">
			            					<span class="date">Joined in 2016</span>
			          					</div>
			          					<div class="description">
			            					Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
			          					</div>
			        				</div>
			        				<div class="extra content">
			          					<a>
			            					<i class="user icon"></i>
			            					22 Friends
			          					</a>
			        				</div>
			      				</div>
			    			</div>
			  			</div>
					</div>
  				</div>
  			</div>
  		</div>

</template>
