<head>
  <title>Todo List</title>
</head>
 
<body>
  <div class="ui grid"  ng-controller="TodosListCtrl">
    <div class="row">
      <div class="two wide  column">
        
      </div>
      <div class="twelve wide column">
        <div class="ui secondary  menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
          <div class="right menu">
            <div class="item">
              <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
              </div>
            </div>
            <a class="ui item">
              <login-buttons></login-buttons>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="three wide column left-sidebar">
          <a class="item">
            1
          </a>
          <a class="item">
            2
          </a>
          <a class="item">
            3
          </a>
        </div>
      <div class=" nine wide column">
        <div class="ui feed">
          <div class="event" ng-repeat="post in posts">
            <div class="label">
              <img src="img_6.jpg">
            </div>
            <div class="content">
              <div class="summary">
                <a>{{post.postedBy}} </a> {{post.postType}}
                <div class="date">
                  {{post.date}}
                </div>
              </div>
              <div class="extra text">
                {{post.text}}
              </div>
              <div class="meta">
                <a class="like">
                  <i class="like icon"></i> 5 Likes
                </a>
              </div>
               <button class="right floated circular ui icon button" ng-click="deletePost(post)">&times;</button>
            </div>
            <br>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui form" ng-show="$root.currentUser">
          <div class="field">
            <label>Short Text</label>
            <textarea rows="2" ng-model="newPost"></textarea>
          </div>
          <button class="ui secondary button" ng-click="addPost(newPost); newTask='';">
          Submit
        </button>
        </div>
        
      </div>
    </div>
  </div>
</body>
