<template name="register">
  <!--   <h2>Register</h2>
    {{#each userObjects}}
    	{{name}}
    {{/each}} -->
	<div class="ui visible sidebar labeled icon vertical menu">
	    <a class="item">
	      <i class="home icon"></i>
	    	Home
	    </a>
	    <a class="item">
	      <i class="block layout icon"></i>
	    	Explore
	    </a>
	    <a class="item">
	      <i class="smile icon"></i>
	    	Friends
	    </a>
  	</div>
  	<div class="ui fixed top small menu">
	  	<div class="ui container">
			<div class="ui category search item">
			    <div class="ui transparent icon input">
			      <input class="prompt" placeholder="Search" type="text">
			      <i class="search link icon"></i>
			    </div>
			    <div class="results"></div>
			</div>
			<div class="right menu">
			  	<a class="item">
			  		<i class="Announcement icon"></i>
						Notifications
				</a>
				<a class="item">
					<i class="Mail icon"></i>
					Messages
				</a>
				<a class="item">
					{{> loginButtons}}
				</a>
			</div>
		</div>
  	</div>
  	<div class="pusher" style="padding-top: 70px;">
  		<div class="ui two column grid container">
  			<div class="twelve wide column" style=" padding-right: 50px; padding-left: 50px;">
				<div class="ui feed">
					{{#each posts}}
						<div class="ui segment">
							{{> post}}
						</div>
					{{/each}}
				</div>
  			</div>
  			<div class="four wide column">
				<div class="ui people shape">
			  		<div class="sides">
			    		<div class="active side">
			      			<div class="ui card">
			        			<div class="image">
			          				<img src="/selena.jpg">
			        			</div>
			        			<div class="content">	
			          				<div class="header"><a href="{{userId}}">Krishna Singh</a></div>
			          					<div class="meta">
			            					<a>Acquaintances</a>
			          					</div>
			          					<div class="description">
			            					Krishna Singh is a super cool girl who wants to change the way people read.
			          					</div>
			        				</div>
			        				<div class="extra content">
			          					<span class="right floated">
			            					Joined in 2016
			          					</span>
			          					<span>
			            					<div class="ui labeled button" tabindex="0">
											  <div class="ui {{#if follow.following}}red {{else}} blue {{/if}} button js-follow">
											  	{{follow.text}}
											  </div>
											  <a class="ui basic red left pointing label">
											    {{follow.number}}
											  </a>
											</div>
			          					</span>

			        				</div>
			      				</div>
			    			</div>
			    			<div class="side">
			      				<div class="ui card">
			        				<div class="image">
			          					<img src="\anku.jpg">
			        				</div>
			        				<div class="content">
			          					<a class="header">Stevie Feliciano</a>
			          					<div class="meta">
			            					<span class="date">Joined in 2016</span>
			          					</div>
			          					<div class="description">
			            					Stevie Feliciano is a library scientist living in New York City. She likes to spend her time reading, running, and writing.
			          					</div>
			        				</div>
			        				<div class="extra content">
			          					<a>
			            					<i class="user icon"></i>
			            					22 Friends
			          					</a>
			        				</div>
			      				</div>
			    			</div>
			  			</div>
					</div>
  				</div>
  			</div>
  		</div>
</template>